<main class="main">
  <section class="section home">
    <div class="container">
      <div class="row center-block">
        <div class="col left d-flex d-flex-between is-column">
          <!-- <div class="mini-separator"></div> -->
          <h1 class="white">Efficient and fast charging innovations</h1>
          <div class="d-flex d-flex-between align-center item">
            <div class="icone">
              <img
                src="../../../assets/map.webp"
                alt="Map for the HypeCar icone"
              />
            </div>
            <div class="end">
              <p class="white">Quick find :</p>
              <p class="white">discover station map</p>
              <div class="btn-infos d-flex align-center d-flex-between">
                <span class="white">Find Nearest</span>
                <span class="white">View</span>
              </div>
            </div>
          </div>
          <div class="d-flex d-flex-between align-center item">
            <div class="icone">
              <img
                src="../../../assets/charger.png"
                alt="Map for the HypeCar icone"
              />
            </div>
            <div class="end">
              <p class="white">Browse our products</p>
              <p class="gray-color">140+ Chargers</p>
              <div class="btn-infos d-flex align-center d-flex-between">
                <span class="white">From $500</span>
                <span class="white">View</span>
              </div>
            </div>
          </div>
          <p class="gray-color">
            Certified EV charging: Ensuring Safe and Reliable Stations for your
            Electric Journey. Drive with confidence
          </p>
        </div>
        <div class="col right">
          <div class="mini-separator"></div>
          <div class="center-block is-column">
            <h2>Fueling the</h2>
            <div class="is-relative">
              <h1 class="tomorow title center-block">Tomorr<span></span>w</h1>
              <img src="../../../assets/car.svg" alt="Car Image of hypeCar" />
            </div>
            <div class="d-flex d-flex-between align-center">
              <div class="center-block">
                <div class="icone center-block"><div class="logo"></div></div>
                <p>Maximize your EV range with our app</p>
              </div>
              <div class="get-app-btn center-block">
                <div class="outer"></div>
                <div class="text center-block">Get the App</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
