<nav class="nav d-flex d-flex-between align-center">
  <div class="nav__logo center-block">
    <div class="logo"></div>
    <span class="white">HypeCar</span>
  </div>
  <div class="nav__menus d-flex d-flex-between align-center">
    <ul class="center-block">
      <li routerLink=""><a>Product</a></li>
      <li routerLink=""><a>Company</a></li>
      <li routerLink=""><a>Services</a></li>
      <li routerLink=""><a>Contact</a></li>
    </ul>
    <a routerLink="#" class="btn mini-btn center-block white">{{ ">" }}</a>
  </div>
</nav>
